In [4]:
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import sklearn

import os, sys, pathlib

In [10]:
df = pd.read_csv('./data/clima.csv', parse_dates=['time'])

In [12]:
df.head()

,time,temperature_2m,total_cloud_cover,total_precipitation,windspeed_10m
0,2019-01-01 00:00:00,281.397430,0.0,0.0,2.547827
1,2019-01-01 01:00:00,281.302124,0.0,0.0,2.412716
2,2019-01-01 02:00:00,281.606873,0.0,0.0,2.095948
3,2019-01-01 03:00:00,281.437439,0.0,0.0,1.777547
4,2019-01-01 04:00:00,281.042328,0.0,0.0,1.729757

In [15]:
df.describe()

       temperature_2m  total_cloud_cover  total_precipitation  windspeed_10m
count    38827.000000       38827.000000         38827.000000   38827.000000
mean       289.486767           0.484524             0.000070       2.998598
std          6.001140           0.365584             0.000340       1.866365
min        275.262695           0.000000             0.000000       0.028852
25%        284.717856           0.114564             0.000000       1.695508
50%        288.661514           0.461168             0.000000       2.570017
75%        294.533142           0.862882             0.000009       3.879280
max        305.884277           1.000004             0.010371      15.273021

In [17]:
df = df.assign(
    year=df.time.dt.year,
    month=df.time.dt.month,
    day=df.time.dt.day,
    hour=df.time.dt.hour
)

In [23]:
df.groupby(by=['year']).count()

,time,temperature_2m,total_cloud_cover,total_precipitation,windspeed_10m,month,day,hour
year,,,,,,,,
2019,8760,8760,8760,8760,8760,8760,8760,8760
2020,8784,8784,8784,8784,8784,8784,8784,8784
2021,8760,8760,8760,8760,8760,8760,8760,8760
2022,8760,8760,8760,8760,8760,8760,8760,8760
2023,3763,3763,3763,3763,3763,3763,3763,3763